* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
input,
input::placeholder {
  color: blue;
}

a {
  color: red;
}

.highlight {
  background-color: yellow;
}
#unique {
  color: rgb(234, 113, 133);
}

h1,
h2,
h3,
h4 {
  color: green;
}

li {
  color: red;
}
.text {
  color: blue;
}
.headingFourText p {
  color: gray;
}
.headingthreeText {
  color: brown;
}
